.formulaBar {
  position: relative;
  background: #fff;
  height: 100%;
}

.editorArea {
  border: 1px solid #d9dbe4;
  padding: 5px;
}

.editableContentContainer {
  display: flex;
  align-items: center;
}

.editableContent {
  outline: none;
  flex: 1 1;
}

.iconContainer {
  margin: 0 5px 0 0;
}
