@use '@material/drawer';
@use '../variables';
@use '../styles.scss';

@include drawer.core-styles;
@include drawer.dismissible-core-styles;

.powersheet-function-helper {
  @include drawer.width(400px);
  overflow: auto;
  z-index: variables.$functionHelperZIndex;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;

  @media only screen and (max-width: 600px) {
    & {
      width: 100%;
    }

    &-drawer-content {
      padding: 0;
    }
  }

  &-drawer-header {
    padding: 0 30px 30px;
  }

  &-close-icon {
    height: 23px;
    width: 23px;
    display: block;
    background-image: url(close-icon.svg);
  }

  &-close-button {
    @include styles.button;
    margin-left: auto;
    display: block;
  }

  &-main-header {
    @include styles.headerColor;
    font-size: 1.4rem;
    line-height: 1.15;
    font-weight: bold;
  }

  &-paragraph {
    @include styles.textDescription;
  }

  &-list {
    @include styles.textDescription;
  }

  &-header {
    @include styles.subHeader;
  }

  &-code,
  &-code-style {
    color: #6240c8;
    font-weight: bold;
    font-size: 13px;
  }

  &-section {
    margin: 0 40px;
    margin-top: 10px;
  }

  &-function-item-wrapper {
    @include styles.button;
  }

  &-function-item-content {
    margin: 0 40px;
    padding: 12px 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
  }

  &-function-item-parameter {
    @include styles.textDescription;
    max-width: 300px;
    overflow-wrap: break-word;
  }

  &-function-item-icon {
    height: 15px;
    width: 15px;
    display: block;
    background-image: url(./functionSummaryHelper/chevron-down.svg);
    transform: rotate(-90deg);
    position: absolute;
    right: -10px;
  }
}
