@use '@material/drawer';
@use '../variables';
@use '../styles.scss';

:global {
  @include drawer.core-styles;
  @include drawer.dismissible-core-styles;
}

.functionHelper {
  @include drawer.width(400px);
  overflow: auto;
  z-index: variables.$functionHelperZIndex;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .functionHelper {
    width: 100%;
  }

  .drawerContent {
    padding: 0;
    padding-left: 15px;
  }
}

.drawerContent {
  padding: 0 30px 30px;
}

.closeIcon {
  height: 23px;
  width: 23px;
  display: block;
  background-image: url(close-icon.svg);
}

.closeButton {
  @include styles.button;
  margin-left: auto;
  display: block;
}

.mainHeader {
  font-size: 1.4rem;
  line-height: 1.15;
  @include styles.headerColor;
}

.paragraphEl {
  @include styles.textDescription;
}

.list {
  @include styles.textDescription;
}

.header {
  @include styles.subHeader;
}

.code {
  color: #6240c8;
  font-weight: bold;
  font-size: 13px;
}
