@import '../../styles.scss';

@include tippyContentNoPadding;

.content {
  display: flex;
  flex-direction: column;
}

.group {
  @include group;
  flex-direction: column;
  align-items: flex-start;
  &:after {
    content: '';
    width: 300px;
    display: inline-block;
    margin: 5px 0;
    border-bottom: 1px solid #e0e2e4;
  }
  &:last-of-type:after {
    display: none;
  }
}

.buttonContent {
  @include button;
  @include buttonAction;
  width: 100%;
}
