@mixin button() {
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:global(.active) {
    background-color: #e6f4ea;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.08);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.38;
  }
}
