@mixin button {
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:global(.active) {
    background-color: #e6f4ea;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.08);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.38;
  }
}

@mixin group {
  display: flex;
}

@mixin buttonAction {
  padding: 10px 5px;
  padding-left: 10px;
  text-align: left;
}

@mixin tippyContentNoPadding {
  :global(.tippy-box[data-theme~='dropdown'] .tippy-content) {
    padding: 0;
  }
}
