@import '../styles.scss';

.toolbar {
  display: flex;
  align-items: center;
  background: #f5f6f7;
  border-bottom: 1px solid #e0e2e4;
  display: none;

  @include tippyContentNoPadding;
}

.functionName {
  @include button();
  @include buttonAction;
}

.dropdownContent {
  overflow: auto;
  display: flex;
}

.functions {
  max-height: 400px;
}

.functions,
.borders {
  flex-direction: column;
}

.colorPicker {
  overflow-x: hidden;
}

.bordersGroup {
  display: flex;
}

.group {
  @include group;
  &:after {
    content: '';
    background-color: #e0e2e4;
    margin-left: 6px;
    margin-right: 6px;
    display: block;
    width: 1px;
  }

  &:last-of-type:after {
    display: none;
  }
}

.dropdownIconButton {
  .arrowDownIconContainer {
    width: 10px;

    .arrowDown {
      left: -130px;
    }
  }
}

.tooltip {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.colorBar {
  width: 75%;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 4px;
  height: 4px;
  position: absolute;
  background-color: white;
}
