@import '../styles.scss';

.bottomBar {
  padding: 0 25px;
  user-select: none;
  background: #f5f6f7;
  box-shadow: 0 -1px 3px -1px rgb(169 164 164);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;

  > * {
    height: 100%;
  }
}

.tab {
  background-color: #fff;
  box-shadow: 0 0px 3px -1px rgb(169 164 164);
  display: inline-block;
}

img {
  height: 13px;
  width: 13px;
}

.sheetSelectionContainer {
  height: 100%;
  display: flex;
}

.createNewSheetButton {
  height: 100%;
}

.sheetTab {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0px 16px;
  min-height: 40px;
  font-size: 15px;
  font-weight: 550;
  color: #80868b;
  letter-spacing: 0.025rem;
  border: 0;
  border-radius: 0;
  border-right: 1px solid #e8eaed;
  background: none;
  font-family: 'Nunito Sans', -apple-system, '.SFNSText-Regular',
    'San Francisco', BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;

  &:global(.active) {
    background-color: #fff;
  }

  &:not(:global(.active)):hover {
    background-color: #ddd;
  }
}

.nameContainer[contenteditable='true'] {
  color: #222;
  border: 2px solid #43cea2;
  outline: none;
  border-radius: 4px;
  padding: 4px 22px 4px 4px;
}

.sheetTabContainer {
  position: relative;
}

.sheetSelectionDropdownButton {
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 20px;
  padding: 12px 16px;
  text-align: left;
}

.sheetSelectionDropdownButton:hover {
  background-color: #ddd;
}

.renameSheetButton:hover,
.deleteSheetButton:hover {
  background-color: #ddd;
}

.renameSheetButton,
.deleteSheetButton {
  @include button;
  font-size: 14px;
  letter-spacing: 0.2px;
  padding: 12px 16px;
  text-align: left;
}

.sheetTabDropdownContent {
  color: #202124;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.sheetSelectionDropdownContent {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow: auto;
}

.scrollSliderContainer {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  transition: transform 0.2s ease-in;

  > .sheetTabContainer:first-of-type {
    border-left: 1px solid #e8eaed;
  }
}

.scrollsliderArrow {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  margin-left: 15px;
  display: none;
}

.scrollsliderContent {
  display: none;
  align-content: space-between;
}

.leftScrollslider {
  left: 0;
  z-index: 1;
  border: 0;
  background: none;
  cursor: pointer;
  margin-right: 5px;
}

.rightScrollslider {
  right: 0;
  z-index: 1;
  border: 0;
  background: none;
  cursor: pointer;
  margin-left: 5px;
}

.scrollIcon {
  width: 10px;
  height: 12px;
}
