@use '../../variables';
@use '../../styles.scss';

.powersheet-function-helper-list {
  &-wrapper {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  &-close-icon {
    height: 23px;
    width: 23px;
    display: block;
    background-image: url(../close-icon.svg);
  }

  &-close-button {
    @include styles.button;
    margin-left: auto;
    display: block;
  }

  &-section {
    margin: 0 40px;
    margin-top: 10px;
  }

  &-function-item-wrapper {
    @include styles.button;
  }

  &-function-item-content {
    margin: 0 40px;
    padding: 12px 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
  }

  &-function-item-parameter {
    @include styles.textDescription;
    max-width: 300px;
    overflow-wrap: break-word;
  }

  &-function-item-icon {
    height: 15px;
    width: 15px;
    display: block;
    background-image: url(../functionSummaryHelper/chevron-down.svg);
    transform: rotate(-90deg);
    position: absolute;
    right: -10px;
  }
}
