@import '../styles.scss';

.formulaHelper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  visibility: hidden;
}

.tippyContainer {
  height: 100%;
}

.formulaHelperListContainer {
  background: white;
  max-height: 250px;
  overflow-y: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;

  li {
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    padding: 2px 5px;
    font-family: 'Inconsolata', monospace, arial, sans, sans-serif;

    &:hover {
      background-color: #f5f5f5; // Extract to common styles
    }
  }
}
