:global(.powersheet-cell-editor) {
  box-sizing: border-box;
  resize: none;
  border: #0057ff solid 2px;
  box-shadow: 1px 2px 5px 2px rgb(51 51 51 / 15%);
  padding: 2px;
  outline: none;
  background-color: white;
  height: 100%;
}

@font-face {
  font-family: Inconsolata;
  src: url('../../../fonts/Inconsolata.otf');
}

.cellEditorContainer {
  position: absolute;
  box-sizing: border-box;
}

.formulaInput {
  font-family: 'Inconsolata', monospace, arial, sans, sans-serif;
}

.StringLiteral {
  color: green;
}

.NumberLiteral,
.BooleanOp {
  color: #15c;
}

.placeholder::after {
  content: ']';
  display: inline-block;
  transform: rotate(90deg);
  font-size: 12px;
  color: #bbb;
  vertical-align: sub;
  padding-left: 5px;
}
